@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpg') no-repeat;
}

.wrapper {
    width: 420px;
    background: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 20px;
}

.wrapper_left h1 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 260px;
    height: 164px;
    margin: -183px 107px 0 -368px;
    padding: 29px 20px 20px 31px;
    background: transparent;
    border: 4px solid rgba(248, 248, 248, 0.2);
    border-radius: 40px;
    color:rgb(212, 209, 209);
    font-size: 27px;
    cursor: pointer;
    font-weight: 900;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: ;
    margin: 10px 0 ;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 4px solid rgba(248, 248, 248, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color:#ffff;
    padding: 20px 25px 20px 20px;
}

.input-box input::placeholder {
    color:#ffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 0 0 15px;
}

.wrapper .btn {
    width: 170px;
    height: 48px;
    margin-left: 130px;
    background: transparent;
    border: none;
    border: 4px solid;
    outline: none;
    border-radius: 40px;
    border-color: rgba(248, 248, 248, 0.2);
    cursor: pointer;
    color:#C1FF72;
    font-size: 16px;
    font-weight: 900;
}

.btn {
    margin-right: 130px;
    margin-top: 15px;
}

.wrapper {
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}